$def with()
<style type="text/css">
.helps dt{font-size:20px;margin-bottom:10px;}
.helps dd{font-size:14px;line-height:25px;margin-bottom:15px;text-indent:2em;}
</style>
<div class="row-fluid">
    <div class="span12 helps">
        <dl>
            <dt>
               高铁线路添加顺序: 
            </dt>
            <dd>
               如果要在前端地图上展示高铁线路，需要先进《新增/修改高铁线路》菜单里添加线路基本信息。然后再进《新增/修改高铁站》里添加此线路上的所有站点（如果有的站点已经存在，就不用再添加），最后进《高铁线路列表》菜单中找到刚添加的站点按顺序添加此线路的全部高铁站。这样就完成了一条高铁线路的编辑了。 
            </dd>
            <dt>
                关于后台操作权限：
            </dt>
            <dd>
                <span style='color:red'>为防止有人恶意操作，后台只提供高铁线路新增/高铁站新增/文章新增/高铁线路站点新增功能以及对用户新增的内容进行修改</a>，不能对原有的内容进行各种修改删除操作，敬请原谅。
            </dd>
            <dt>
                关于本站： 
            </dt>
            <dd>
                本站的创立只是因为我是一个高铁爱好者，苦于没有一个地方能完整看到全国的高铁地图情况，而已有的一些高铁图片却因为总是不能及时更新无法查看最新的高铁建设情况，希望本站能对高铁爱好者有一些帮助。
            </dd>
            <dt>
                欢迎联系：                
            </dt>
            <dd>
                欢迎加入高铁爱好者QQ群号：827667455
            </dd>
        </dl>
    </div>
</div>
