<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <div class="accordion" id="accordion-839173">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-839173" href="#accordion-element-118444">选项卡 #1</a>
                            </div>
                            <div id="accordion-element-118444" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    功能块...
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-839173" href="#accordion-element-645644">选项卡 #2</a>
                            </div>
                            <div id="accordion-element-645644" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    功能块...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span10">
                </div>
            </div>
        </div>
    </div>
</div>
