$def with (rs, imgs) 
<div class="alert alert-warning alert-dismissable">
    当前正在编辑高铁线路：<b>$rs.name- $rs.namechar  </b>($rs.statusc) 的图片
</div>
<div class="row-fluid">
    <form class="form-inline">
      <div class="form-group col-sm-10">
        <input type="email" class="form-control" id="imgurl" placeholder="请输入图片URL：http://" style="width:100%;">
      </div>
      <button type="hidden" id="lid" value="$rs.id">
      <button type="button" id="addimg" class="btn btn-primary">添加图片</button>
    </form>
</div>

<div class="row-fluid" style="margin-top:15px;">
$for row in imgs:
    <div class="col-md-4" style="height:280px; margin-bottom:20px;over-follow:hidden;">
        <div class="thumbnail">
            <img alt="300x200" src="$row.img" />
            <div class="caption">
                <form class="form-inline">
                      <a class="btn btn-danger btn-sm" type="button" onClick="return confirm('真的要删除吗？');" href="/lineimg/$rs.id?delimg=$row.id">删除</a>
                      <input type="text" class="form-control input-sm" value="$row.says" id="t_val_$row.id" placeholder="简单图片描述">
                      <button class="btn btn-success btn-sm btn_addimg" type="button" id="val_$row.id">OK</button>
                    $if row.ismain:
                      <a class="btn btn-primary btn-sm" type="button" href="#">主图</a>
                    $else:
                      <a class="btn btn-default btn-sm" type="button" href="/lineimg/$rs.id?mainimg=$row.id">主图</a>
                    $pass
                </form>
            </div>
        </div>
    </div>
$pass
</div>
<script language='javascript'>
\$(function(){
    \$("#addimg").click(function(){
        var imgurl = \$("#imgurl").val();
        var lid = \$("#lid").val();
        \$.post("/lineimg/"+lid, {imgurl: imgurl},
            function(data){
                if(data.status==0){
                    window.location.reload();
                }else{
                    alert(data.msg);
                } 
        }, "json");
    });

    \$(".btn_addimg").click(function(){
        tid = 't_' + \$(this).attr('id');
        var imgtext = \$("#"+tid).val();
        var lid = \$("#lid").val();
        \$.post("/lineimg/"+lid, {imgtext: imgtext, imgid: tid},
            function(data){
                if(data.status==0){
                    window.location.reload();
                }else{
                    alert(data.msg);
                } 
        }, "json");

    });
   
});
</script>
