body{padding: 0px;
    margin: 0px;
    line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif !important;
    color: #222;
    font-size: 14px;
}

input{
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    padding-left:10px;
    height: 34px;
    width: 200px;
}
input:focus{
    border:1px solid rgb(55, 182, 238);;
    box-shadow: 0 0 2px rgb(33, 162, 238);
    -webkit-box-shadow: 0 0 2px rgb(33, 162, 238);
    -moz-box-shadow: 0 0 2px rgb(33, 162, 238);
}
.div_from_aoto{
    margin-left: auto;
    margin-right: auto;
    padding-left:10px;
    margin-top: 200px;
}
.laber_from{
    width: 100px;
    float: left;
    line-height: 35px;
    color: #222;
    font-weight: normal;
}
.control-group{
    padding-bottom: 10px;
}
.input_select{
    width: 100px;
    height: 30px;
    cursor: pointer;
}
